<p>
  <%= @greeting %>
</p><br>
<p>Please check contact details and revert accordingly</p>
<p>Contacted By: <%=@contact.name%></p>
<p>Email: <%=@contact.email%></p>
<p>Phone Number: <%=@contact.phone%></p>
<p>Reason: <%=@contact.topics%></p>
<p>Message: <%=@contact.message%></p>
<br><br>
<p>Regards,</p>
<p>Admin</p>