<p id="notice"><%= notice %></p>

<h5>Listing Orders</h5>
<div class="table-responsive">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Order Id</th>
      <th>Ordered By</th>
      <th>Shipping Address</th>
      <th>Order Amount</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.name %><br>User Id : <%= order.user_id %></td>
        <td>
          <%= order.address %><br>
          <%= order.city %>, <%= order.state %>, <%= order.zip %><br>
          Contact : <%= order.phone %>
        </td>
        <td><%= order.total_amount %></td>
        <td><%= link_to 'Show', order %></td>
        <%#= link_to 'Edit', edit_order_path(order) %>
        <%#= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%#= link_to 'New Order', new_order_path %>
