<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Image url</th>
      <th>Title</th>
      <th>Category</th>
      <th>Brand</th>
      <th>Pricing</th>
      <th>Quantity</th>
      <th>Vendor</th>
      <th>Status</th>
      <th>Dates</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= image_tag(product.image_url,:height=>"50px;") %></td>
        <td><%= product.title %></td>
        <td><%= product.category %></td>
        <td><%= product.brand %></td>
        <td>
          Offer Price  : <%= product.offer_price %><br>
          Base Price   : <%= product.base_price %><br>
          Dealer Price : <%= product.dealer_price %>
          Shipping Cost: <%= product.shipping_cost %>
        </td>
        <td>
          <%= product.quantity_limit %> <%if product.unit_type? %>in <%= product.unit_type %><%end%>
        </td>
        <td><%= product.vendor_id %></td>
        <td><%= product.status %></td>
        <td>
          Uploaded on :<br><%= product.created_at.to_date %><br><br>
          <!--Uploaded By :<%#= product.uploaded_by %><br>-->
          Updated on  :<br><%= product.updated_at.to_date %><br>
          <!--Updated by  :<%#= product.updated_by %>-->
        </td>
        <td>
          <%= link_to 'Show', product %><br>
          <%= link_to 'Edit', edit_product_path(product) %><br>
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
