<p id="notice"><%= notice %></p>

<div id="prdp" class="col s12 m12 l12">
  <div  class="col s12 m4 l4" style="margin-top:15px;">
    <div id="bcrum">
      <%= @product.category%> / <%=@product.sub_category%> / <%=@product.title%>
    </div>
  </div>
  <div  class="col s12 m8 l8">
    <div id="title">
      <h5>
        <%= @product.title %><br> 
        <% if @product.brand? %>
          <span style="font-size:11px;color:grey;">By : <%= @product.brand %></span> 
        <%end%>
      </h5>
      <div id="ul" style="border-top:dotted 1px;margin-top:5px;"></div>
    </div>
  </div>
</div>
<div class="col s12 m12 l12">
  <div class="col s12 m4 l4">
    <div id="pimage">
      <%= image_tag(@product.image_url, :height=>"350") %>
    </div>  
  </div>
  <div class="col s12 m5 l5">
    <div class="col s12 m6 l6">
      <div id="pprice" style="margin-top:5px;margin-top:20px;">
        <div class="mrp">
          <span style="color:#4FA526;font-size:18px;font-weight:bold;">
            &#8377 <%= sprintf("%0.02f",@product.offer_price) %>
          </span>
          <span style="text-decoration:line-through;color:grey;font-size:14px;">
            MRP : &#8377 <%= sprintf("%0.02f",@product.base_price) %>
          </span>
        </div>
        <div class="save">
          [ You Save : <span style="color:orange;font-size:18px;font-weight:bold;">
              &#8377 <%= sprintf("%0.02f",@product.base_price - @product.offer_price ) %>
          </span> ]
        </div>
        <div id="cod" style="margin-top:20px;">
          <span style="font-size:16px;"><b>Payment Options:</b></span><br>
          <span style="font-size:12px;"><b>Cash on Delivery</b></span>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l6">
      <div id="sinfo" class="">
        <div class="shead"><b>Seller Info</b></div>
        <div class="seller-name">
          Hemant's Collection
        </div>
        <div class="seller-rating">
          Rating : <%= image_tag('star-rating.png',:height=>"25px") %><br>
          Location : Raipur (C.G)
        </div>  
      </div>
    </div>
    <div class="col s12 m12 l12">
      <% if @product.offer_test? %>
        <div style="border-bottom: 1px dotted grey;margin-top:10px;font-weight:bold;">Offers:</div>
        <i class="mdi-action-stars pretext orange-text darken-2"></i>
        <span class="offer-text"><%= @product.offer_test %></span>
      <%end%>
    </div>    
  </div>
  <div class="col s12 m3 l3">
    <div id="buynow" style="margin-top:5%;font-weight:bold;">
      <%= button_to "Add to Cart", selected_items_path(:product_id => @product), 
      :class => "btn btn-success waves-effect waves-light green", :style => "width:90%; margin-left:10px;" %><br>
      <%= button_to "Add to Wishlist", selected_items_path(:product_id => @product), 
      :class => "btn btn-warning waves-effect waves-light orange",:style => "width:90%; margin-left:10px;margin-top:-10px;" %>
    </div>
    <div style="margin-left:10px;margin-top:10px;">
      <img src="http://g-ecx.images-amazon.com/images/G/01/RCX_events/trust_244x66_3._CB344866612_.png"> 
    </div>
  </div>
</div>
<div id="pdesc" class="col s12 m12 l12" style="margin-top:2%;">
  <% if @product.description? %>
    <div class="desctitle">
      <%= @product.title %> - Description ..
    </div>
    <div id="desc" style="margin-top:5px;">
      <%= @product.description.html_safe %>      
    </div>
  <% end %>
  <div class="feat">
    <% if @product.features? %>
      <div class="desctitle">
        <%= @product.title %> - Features ..
      </div>
      <div id="feat" style="margin-top:5px;">
        <%= @product.features.html_safe %>
      </div>
    <% end %>
  </div>
  <div class="disc">
    <% if @product.disclaimer? %>
      <div id="disc" style="margin-top:-5px;">
        <span class="label label-info">Disclaimer</span>
        <%= @product.disclaimer.html_safe %>
      </div>    
    <% end %>  
  </div>
  <div id="osp" class="desctitle">
    Other similar products you might be interested in..    
  </div>
</div>
<!-- space for advertisement 
<div id="padd" class="col s12 m3 l3" style="border:1px solid black;margin-top:2%;"></div>
-->