<!DOCTYPE html>
<html>
<head>
  <title>Contact us - localhost.com</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    $(document).ready(function(){
        setTimeout(function(){
        $("#notice").hide("slow");
       },2000);
        setTimeout(function(){
        $("#error").hide("slow");
       },3000);
    });
  </script>
</head>
<body>
  <div id="main-container">
    <div class="row">
      <%= render "includes/header" %>
    </div>
    <div class="row">
      <div class="col-xs-12" style="margin-top:5px;margin-bottom:5px;"></div>
      <div id="content" class="col s12 m12 l12">
        <% if notice %>
          <div class="col s12 m12 l12" id="notice"><%= notice %></div>
        <%end%>
        <%= yield %>
      </div>
    </div>
    <div class="row" style="margin-bottom:0px;">
      <%= render "includes/footer" %>
    </div>
  </div>

</body>
</html>
