<!DOC3YPE html>
<html>
<head>
  <title>Buy products on huge discounts only on - localhost.com</title>
  <meta name="description" content="Online shopping in India, Online shopping store to buy mobiles, books, clothes, laptops, shoes, electronics. Best online shopping experience at - localhost.com">
  <meta name="keywords" content="online shopping india, online shopping store, buy online, mobiles, gifts, books, clothes, shoes, tabl3ts, laptops, electronics, cash on delivery, best offers, discount offers, free shipping in india">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container"><!-- class="content-grid mdl-grid">-->
    <div class="row">
      <%= render "includes/header"%>
    </div>
    <div class="row">
      <div class="col m2 l2 hide-on-med-and-down">
        <nav class="orange darken-2" style="margin-top:1px;">
          <ul class="left hide-on-med-and-3own">
            <li><a href="#">Best Selling</a></li>
          </ul>
        </nav>
        <nav class="orange darken-2" style="margin-top:1px;">
          <ul class="left hide-on-med-and-down">
            <li><a href="#">Featured Products</a></li>
          </ul>
        </nav>
        <nav class="orange darken-2" style="margin-top:1px;">
          <ul class="left hide-on-med-and-down">
            <li><a href="#">Stores</a></li>
          </ul>
        </nav>
        <nav class="orange darken-2" style="margin-top:1px;">
          <ul class="left hide-on-med-and-down">
            <li><a href="#">Stores</a></li>
          </ul>
        </nav>
      </div>
      <div class="col s12 m7 l7">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Carousel indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>   
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
            <div class="item active">
              <img class="responsive-img" src="http://catman-a2.infibeam.com/img/banners/8841726/fa7c3ac5a7a78_samsunggalaxy.jpg.999xx.jpg" height="267px;">
            </div>
            <div class="item">
              <img class="responsive-img" src="http://catman-a2.infibeam.com/img/banners/8841726/fa7c3ac5a7a78_samsunggalaxy.jpg.999xx.jpg" height="267px;">
            </div>
            <div class="item">
              <img class="responsive-img" src="http://catman-a2.infibeam.com/img/banners/8841726/fa7c3ac5a7a78_samsunggalaxy.jpg.999xx.jpg" height="267px;">
            </div>
          </div>
          <!-- Carousel controls -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
      <div class="col s2 m3 l3 hide-on-med-and-down">
        <img src="http://catman-a2.infibeam.com/img/banners/8841726/0659887afd139_infibeammasonry.png.999xx.png" width="103%">
      </div>
      <%= yield %>
    </div>
    <div class="row" style="margin-bottom:0px;">
      <%= render "includes/footer"%>
    </div>
  </div>
</body>
</html>
